@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: Paint;
    src: url(./media/fonts/MS_PAIN.ttf);
}

:root {
    --headerColor: #fbbf24;
    --noteColor: #fef3c7;
    --menuColor: #fde68a;
    --font: 'Roboto', sans-serif;
    --backgroundColor: #f3f4f6;
    --textColor: #312c1f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
    height: 900px;
    width: 1400px;
    background-color: white;
    background: url(./media/body.png);
    background-size: 100% 100%;
    padding: 50px;
}

.text {
    font-family: Paint;
}

#header {
    width: 100%;
    height: 100px;
    color: black;
    font-size: 50px;
    padding: 5px 20px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    background-image: url(./media/headerline.png);
    background-size: 100% 50%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#content {
    display: flex;
    height: 100%;
    width: 98%;
}

#menu {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100%;
    padding-right: 35px;
    gap: 10px;
    background-image: url(./media/menuLine.png);
    background-size: 10% 100%;
    background-position: right;
    background-repeat: no-repeat;
}

    #addProject {
        background-image: url(./media/plusHollow.png);
        background-size: contain;
        height: 30px;
        width: 30px;
    }
        #addProject:hover {
            background-image: url(./media/plusFilled.png);
        }

    .project {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

        .projectCont {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: larger;
            height: 20px;
            width: 100%;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
        }
            #projectNameInput {
                border: none;
                background-color: transparent;
                all: inherit;
                font-family: Paint;
            }
                #projectNameInput:focus {
                    outline: none;
                }

            #projectSubmit {
                background-image: url(./media/checkHollow.png);
                background-size: contain;
                background-repeat: no-repeat;
                height: 30px;
                width: 30px;
            }
                #projectSubmit:hover {
                    background-image: url(./media/checkFilled.png);
                }

            .projectContLeft {
                display: flex;
                justify-content: start;
                gap: 5px;

            }

                .expandProject {
                    height: 17px;
                    width: 17px;
                }

                .projectName {
                    padding-bottom: 2px;
                    border-bottom: 1px dashed black;
                }

            .addToDo {
                display: none;
                font-size: larger;
                cursor: pointer;
            }

        .emptyProject {
            padding-left: 22px;
        }

        .toDoName {
            padding-left: 22px;
        }

#toDoCont {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: #9ca3af;
}

    #toDoForm {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
        background-image: url(./media/toDoCont.png);
        background-size: 100% 100%;
        height: 100%;
        width: 100%;
        padding: 35px;
        gap: 20px;
        color: black;
    }

        .toDoFormInput {
            height: auto;
            width: auto;
            border: none;
            border-bottom: 1px dashed black;
        }
            .toDoFormInput:focus {
                outline: none;
            }
        
        #toDoFormTitle {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            font-size: 40px;
        }

        #toDoFormDesc {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
            font-size: 20px;
            text-align: bottom;
        }

        #toDoFormDate {
            grid-column: 4 / 5;
            grid-row: 1 / 2;
            font-size: 20px;
            text-align: end;
            border: none;
        }

        #toDoFormContent {
            grid-column: 1 / 5;
            grid-row: 3 / 8;
            background-image: url(./media/toDoTextBox.png);
            background-size: 100% 100%;
            padding: 30px;
            resize: none;
            border: none;
            font-size: 18px;

        }

        #toDoFormSubmit {
            grid-column: 4 / 5;
            grid-row: 8 / 9;
            height: 50px;
            width: 50px;
            border: none;
            background-image: url(./media/checkHollow.png);
            background-size: 100% 100%;
            text-align: right;
        }
            #toDoFormSubmit:hover {
                background: url(./media/checkFilled.png);
                background-size: 100% 100%;
            }
    
    .toDo {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
        background-image: url(./media/toDoCont.png);
        background-size: 100% 100%;
        height: 100%;
        width: 100%;
        padding: 35px;
        gap: 20px;
        color: black;
    }
        
        .toDoTitle {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            font-size: 40px;
        }

        .toDoDesc {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
            font-size: 20px;
            text-align: bottom;
        }

        .toDoDate {
            grid-column: 4 / 5;
            grid-row: 1 / 2;
            font-size: 20px;
            text-align: end;
            border: none;
        }

        .toDoContent {
            grid-column: 1 / 5;
            grid-row: 3 / 8;
            background-image: url(./media/toDoTextBox.png);
            background-size: 100% 100%;
            padding: 30px;
            resize: none;
            border: none;
            font-size: 18px;

        }

        .toDoDelete {
            grid-column: 4 / 5;
            grid-row: 8 / 9;
            height: 50px;
            width: 50px;
            border: none;
            background-image: url(./media/checkHollow.png);
            background-size: 100% 100%;
            text-align: right;
        }
            .toDoDelete:hover {
                background: url(./media/checkFilled.png);
                background-size: 100% 100%;
            }