@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --headerColor: #fbbf24;
    --noteColor: #fef3c7;
    --menuColor: #fde68a;
    --font: 'Roboto', sans-serif;
    --backgroundColor: #f3f4f6;
    --textColor: #312c1f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text {
    font-family: var(--font);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#header {
    width: 100%;
    background-color: var(--headerColor);
    color: white;
    font-size: 30px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

#content {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--backgroundColor);
}

#menu {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100%;
    background-color: var(--menuColor);
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    gap: 10px;
}

#toDoCont {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: #9ca3af;
}

#toDo {
    margin: 30px;
    flex: auto;
    background-color: var(--noteColor);
    border-radius: 10px;
}

#addProject {
    background-image: url(./media/plus-circle-outline.svg);
    mix-blend-mode: overlay;
    height: 30px;
    width: 30px;
    transition: all ease-in-out .1s;
}

#addProject:hover {
    background-image: url(./media/plus-circle.svg);
}

.project {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.projectCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
    height: 20px;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--textColor);
}

.addedProject {
    justify-content: start;
}

.projectName {
    border-bottom: 1px solid var(--headerColor);
}

#projectNameInput {
    border: none;
    background-color: transparent;
    all: inherit;
    font-family: var(--font);
}

#projectNameInput:focus {
    outline: none;
}

#projectSubmit {
    background-image: url(./media/check-circle-outline.svg);
    mix-blend-mode: overlay;
    height: 30px;
    width: 30px;
    transition: all ease-in-out .1s;
}

#projectSubmit:hover {
    background-image: url(./media/check-circle.svg);
}

.expandProject {
    mix-blend-mode: overlay;
    height: 30px;
    width: 30px;
}

.toDoCont {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}